.NavBar{
    position: fixed;
    background-color: #2C3E50;
    min-height: 100vh;
    padding: 2% 0 5% 0;
    width: 75px;
}

.NavBar-links{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.NavLink{
    margin: 10px 5px 0 5px;
}

.NavLink svg{
    color:white;
}

.NavLink:hover svg{
    color:black;
}

.activeRoute{
    color:gray;
}
